<% include partials/header.ejs %>

<div class="ui main text container">
	<div class="ui huge header">Welcome to BBall BBQ</div>
	<div class="ui top attatched segment">
		<div class="ui divided items">
			<% blogs.forEach(function(blog){ %>
				<div class="item">
					<div class ="image">
						<img src="<%= blog.image %>" >
					</div>
					
					<div class="content">
						<a class ="header" href="/blogs/<%= blog._id %>"><%= blog.title %></a>
						<div class="meta">
							<span><%- blog.body.substring(0, 200) %>...</span>
						</div>
						<div class="description">
							<p><%- blog.created.toDateString() %></p>
						</div>
						<div class="extra">
							<a class="ui inverted orange button" href="/blogs/<%= blog._id %>">
								Continue Reading
							</a>
						</div>
					</div>
					
				</div>
			<% }); %>
		</div>
	</div>
</div>

	




      <footer class='main-footer'>
        Copyright &copy; 2020
      </footer>